// app global css in SCSS form
// app global css in SCSS form

// Pages
@import './pages/base';

// Fonts
@font-face {
  font-family: 'Inria Serif';
  src: url('./fonts/InriaSerif-Regular.ttf') format('truetype');

  font-family: 'Inria Serif Light';
  src: url('./fonts/InriaSerif-Light.ttf') format('truetype');
}
